# Ignore the virtual environment directory
myenv/

# Ignore environment variable files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
logs/
*.log
